
html {
  font-family: Arial, Helvetica, sans-serif;
  display: inline-block;
  text-align: center;
}

h1 {
  font-size: 1.8rem;
  color: white;
}

p {
  font-size: 1.1rem;
}

.topnav {
  overflow: hidden;
  background-color: #0A1128;
}

body {
  margin: 0;
}

.content {
  padding: 0 30px;
}


.state {
  font-size: 1.2rem;
  color: #1282A2;
}

.btn-row {
  display: block;
  padding: 5px;
}

.btn {
  /* display: flex;
  flex-direction: row;
  align-items: center; */
  padding: 6px 6px;
  font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
  border-radius: 6px;
  border: none;

  color: #fff;
  background: linear-gradient(180deg, #f74b4b 0%, #367AF6 100%);
  background-origin: border-box;
  box-shadow: 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2);
  user-select: none;
  /* -webkit-user-select: none;
  touch-action: manipulation; */
}
.btn:active {
  background: linear-gradient(180deg, #4936f6 0%, #1100ff 100%);
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), inset 0px 0px 5px rgba(54, 122, 246, 0.25);
}

.btn-first {
  padding-right: 15px;
  padding-left: 15px;
}

.preset-container {
  padding: 10px;
}

.btn:focus {
  box-shadow: inset 0px 0.8px 0px -0.25px rgba(255, 255, 255, 0.2), 0px 0.5px 1.5px rgba(54, 122, 246, 0.25), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
  outline: 0;
}